#bounding_box {
width:1000px;
padding = 14px 40px;
text-align:justify
overflow-x: hidden;
}
h1 {
	margin: 10px;
	padding: 14px 0px;
	font-size: 36px;
	font-weight: bold;
	background-color: black;
	color: #ffffff;
	text-align: center
/* 	float: left */
}
.h1_left {
	margin: 10px;
	padding: 14px 0px;
	font-size: 36px;
	font-weight: bold;
	background-color: black;
	color: #ffffff;
	text-align: left;
/* 	float: left */
}


body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #AAAAAA;
	background: #080808;
}
		
a:link, a:visited {
color: #ff6600;
color:orange;
text-decoration: none;
font-weight: normal;
}
 
a:active, a:hover{ 
color: #FFCC00;
color:orange;
text-decoration: underline;
}

p { 
margin: 10px;
margin-right:155px;
padding: 0px;
text-align:justify;
}
.code_box{
width:1000;
}
.code { 
width:75%;
height:150%;
/* margin-left:500px; */
margin-top:100px;
background:#666666;
color:orange;
margin: 25px 25px 25px 25px;
/* margin-right:155px; */
/* margin:0 auto; */
padding: 15;
text-align:justify;

}


img {
margin: 0px;
padding: 30px;
border: none;
}

h2 {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	color:white
}


h3 {
	margin: 0 0 5px 0;
	padding: 2px 0 3px 0;
	font-size: 14px;
	font-weight: normal;
	color: #d7e13d;	
	color: orange;	
	border-bottom: 1px dotted #d7e13d;
}


.h3_left {
	margin-left:10px;
	font-size: 20px;
	font-weight: bold;
	background-color: black;
	color: #ffffff;
	text-align: left;
	text-decoration:underline;
/* 	float: left */
}
.h5_left {
	margin-left:10px;
	font-size: 20px;
	font-weight: bold;
	background-color: black;
	color: #ffffff;
	text-align: left;
/* 	float: left */
}
h4 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

#Main_Header {
background: #EEEEEE;
height: 150px;
/* overflow:auto; */
}

#welcome {
float:left;
height: 150px;
width:450px;
color:black;
font-family: 'Brush Script MT', cursive;
/* font: 400 100px/1.2 'Leckerli One', Helvetica, sans-serif; */
/*   color: #000; */
/*   text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); */
font-size:120px;

text-align:center;
/* background:orange; */
vertical-align:middle;
/* overflow:auto; */

}

#GENFIRE_logo{
/* float:right; */
position:absolute;
/* margin-right:65px; */
right:0px;
/* overflow:auto; */
}


#Sidebar {
/* float:right; */
 	position: fixed;
    width: 250px;
    height: 335px;
    background-color: #888888; 
    font-size: 12px;
    overflow-y: scroll;
    top: 0; 
    bottom: 0;
    right: 0;
}
#Sidebar .h2_sidebar{
font-size: 16px;
color: #FFFFFF;
}

#Sidebar .h1_sidebar{
font-size: 20px;
font-weight: bold;
color: black;
text-align: center;
margin-bottom:15px;
}

#Sidebar .h2_sidebar{
font-size: 16px;
color: #FFFFFF;
}


#Sidebar_lowered {
	margin-top: 150px;
 	position: fixed;
    width: 250px;
    height: 335px;
    background-color: #888888; 
    font-size: 12px;
    overflow-y: scroll;
    top: 0; 
    bottom: 0;
    right: 0;
}
#Sidebar_lowered .h1_sidebar{
font-size: 20px;
font-weight: bold;
color: black;
text-align: center;
margin-bottom:15px;
}
#Sidebar_lowered .h2_sidebar{
font-size: 16px;
color: #FFFFFF;
}
.side_link{
font-size: 12px;
margin-left: 15px;
color:white;
}