
h1 {
	margin: 10px;
	padding: 14px 0px;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
	color: #ffffff;
/* 	float: left */
}



body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #AAAAAA;
	background: #080808;
}
		
a:link, a:visited { color: #ff6600; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #FFCC00; text-decoration: underline; }

p { 
margin: 10px;
margin-right:25px;
padding: 0px;
text-align:justify;
}

img {
margin: 0px;
padding: 30px;
border: none;
}

h2 {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	color:white
}


h3 {
	margin: 0 0 5px 0;
	padding: 2px 0 3px 0;
	font-size: 14px;
	font-weight: normal;
	color: #d7e13d;	
	color: orange;	
	border-bottom: 1px dotted #d7e13d;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
}

#Sidebar {
 	position: fixed;
    width: 350px;
    background-color: #DDD; 
    font-size: 12px;
    overflow-y: scroll;
    top: 0; 
    bottom: 0;
    right: 0;
}


